<div class="container">
    <div class="row">
        <form action="/productos/create" method="post" enctype="multipart/form-data">
        <input type="file" name="imagen" placeholder="imagen">
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="descripcion" placeholder="descripcion">
        <input type="number" name="precio" placeholder="2">
        <button type="submit">agregar producto</button>
        
        
        </form>
    </div>
</div>