<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
      {{#each products}}
    <h5 class="card-title">{{nombre}}</h5>
    <p class="card-text">{{descripcion}}</p>
    <p class="card-text">{{precio}}</p>
    {{/each}}
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<a href="/productos/create">agregar producto</a>